<!-- Navbar -->
<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FOTOCLICKS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">				  
        <li class="nav-item">
          <a class="nav-link" href="#footer"><i class="fas fa-info-circle"></i> ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/photo"><i class="fas fa-upload"></i> UPLOAD</a>
        </li>
        <% if(!user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-user"></i> LOGIN</a>
        </li>
        <% } %>
        <% if(user) { %>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/logout">
          <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(<%= (user.id % 30 === 0) ? 31 : user.id % 30 %>).webp"
          class="rounded-circle me-1"
          height="22"
          alt="Portrait of a Woman"
          loading="lazy"/> LOGOUT</a>
        </li>        
        <% } %>
        <% if(!user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><i class="fas fa-asterisk"></i> SIGNUP</a>
        </li>
        <% } %>        
      </ul>
    </div>
  </div>
</nav>
